{{#edvik_facebook_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_facebook_url }}}"><i class="fa fa-facebook"></i></a></li>
{{/edvik_facebook_url}}
{{#edvik_x_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_x_url }}}"><i class="fa fa-twitter"></i></a></li>
{{/edvik_x_url}}
{{#edvik_instagram_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_instagram_url }}}"><i class="fa fa-instagram"></i></a></li>
{{/edvik_instagram_url}}
{{#edvik_pinterest_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_pinterest_url }}}"><i class="fa fa-pinterest"></i></a></li>
{{/edvik_pinterest_url}}
{{#edvik_dribbble_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_dribbble_url }}}"><i class="fa fa-dribbble"></i></a></li>
{{/edvik_dribbble_url}}
{{#edvik_google_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_google_url }}}"><i class="fa fa-google"></i></a></li>
{{/edvik_google_url}}
{{#edvik_youtube_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_youtube_url }}}"><i class="fa fa-youtube-play"></i></a></li>
{{/edvik_youtube_url}}
{{#edvik_vk_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_vk_url }}}"><i class="fa fa-vk"></i></a></li>
{{/edvik_vk_url}}
{{#edvik_500px_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_500px_url }}}"><i class="fa fa-500px"></i></a></li>
{{/edvik_500px_url}}
{{#edvik_behance_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_behance_url }}}"><i class="fa fa-behance"></i></a></li>
{{/edvik_behance_url}}
{{#edvik_digg_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_digg_url }}}"><i class="fa fa-digg"></i></a></li>
{{/edvik_digg_url}}
{{#edvik_flickr_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_flickr_url }}}"><i class="fa fa-flickr"></i></a></li>
{{/edvik_flickr_url}}
{{#edvik_foursquare_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_foursquare_url }}}"><i class="fa fa-foursquare"></i></a></li>
{{/edvik_foursquare_url}}
{{#edvik_linkedin_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_linkedin_url }}}"><i class="fa fa-linkedin"></i></a></li>
{{/edvik_linkedin_url}}
{{#edvik_medium_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_medium_url }}}"><i class="fa fa-medium"></i></a></li>
{{/edvik_medium_url}}
{{#edvik_meetup_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_meetup_url }}}"><i class="fa fa-meetup"></i></a></li>
{{/edvik_meetup_url}}
{{#edvik_snapchat_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_snapchat_url }}}"><i class="fa fa-snapchat-ghost"></i></a></li>
{{/edvik_snapchat_url}}
{{#edvik_tumblr_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_tumblr_url }}}"><i class="fa fa-tumblr"></i></a></li>
{{/edvik_tumblr_url}}
{{#edvik_vimeo_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_vimeo_url }}}"><i class="fa fa-vimeo"></i></a></li>
{{/edvik_vimeo_url}}
{{#edvik_wechat_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_wechat_url }}}"><i class="fa fa-wechat"></i></a></li>
{{/edvik_wechat_url}}
{{#edvik_whatsapp_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_whatsapp_url }}}"><i class="fa fa-whatsapp"></i></a></li>
{{/edvik_whatsapp_url}}
{{#edvik_wordpress_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_wordpress_url }}}"><i class="fa fa-wordpress"></i></a></li>
{{/edvik_wordpress_url}}
{{#edvik_weibo_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_weibo_url }}}"><i class="fa fa-weibo"></i></a></li>
{{/edvik_weibo_url}}
{{#edvik_telegram_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_telegram_url }}}"><i class="fa fa-telegram"></i></a></li>
{{/edvik_telegram_url}}
{{#edvik_moodle_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_moodle_url }}}"><i class="fa fa-graduation-cap"></i></a></li>
{{/edvik_moodle_url}}
{{#edvik_amazon_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_amazon_url }}}"><i class="fa fa-amazon"></i></a></li>
{{/edvik_amazon_url}}
{{#edvik_slideshare_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_slideshare_url }}}"><i class="fa fa-slideshare"></i></a></li>
{{/edvik_slideshare_url}}
{{#edvik_soundcloud_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_soundcloud_url }}}"><i class="fa fa-soundcloud"></i></a></li>
{{/edvik_soundcloud_url}}
{{#edvik_leanpub_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_leanpub_url }}}"><i class="fa fa-leanpub"></i></a></li>
{{/edvik_leanpub_url}}
{{#edvik_xing_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_xing_url }}}"><i class="fa fa-xing"></i></a></li>
{{/edvik_xing_url}}
{{#edvik_bitcoin_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_bitcoin_url }}}"><i class="fa fa-btc"></i></a></li>
{{/edvik_bitcoin_url}}
{{#edvik_twitch_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_twitch_url }}}"><i class="fa fa-twitch"></i></a></li>
{{/edvik_twitch_url}}
{{#edvik_github_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_github_url }}}"><i class="fa fa-github"></i></a></li>
{{/edvik_github_url}}
{{#edvik_gitlab_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_gitlab_url }}}"><i class="fa fa-gitlab"></i></a></li>
{{/edvik_gitlab_url}}
{{#edvik_forumbee_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_forumbee_url }}}"><i class="fa fa-forumbee"></i></a></li>
{{/edvik_forumbee_url}}
{{#edvik_trello_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_trello_url }}}"><i class="fa fa-trello"></i></a></li>
{{/edvik_trello_url}}
{{#edvik_weixin_url}}
    <li><a class="d-flex flex-column align-items-center justify-content-center rounded-circle transition" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edvik_weixin_url }}}"><i class="fa fa-weixin"></i></a></li>
{{/edvik_weixin_url}}