<ul class="edvik-header-user-sec pull-right">
    {{{ output.edit_switch }}}

    {{{ output.navbar_plugin_output }}}
    
    {{#output.edvik_if_admin}}
        {{#primarymoremenu}}
            <li class="user_setting edvik-settings-nav">
                <div class="dropdown">
                    <a class="notification-icon" href="{{{ config.wwwroot }}}/admin/search.php"><i class='icon bx bx-cog'></i></a>
                </div>
            </li>
        {{/primarymoremenu}}
    {{/output.edvik_if_admin}}

    <li>
        {{#usermenu}}
            {{> core/user_menu }}
        {{/usermenu}}
    </li>
</ul>