

<div id="report-actions" class="student-report-actions mb-3">

    <a href="{{backbutton}}" class="btn btn-secondary mr-2">
        Back
    </a>

    <a href="{{settingspageurl}}" class="btn btn-primary">
        Course Report
    </a>

</div>


<div class="mb-3">
    <input type="text" id="searchKey" class="form-control" placeholder="Search users, Email, Date and Time..." value="{{searchkey}}" autocomplete="off" style="max-width: 300px;">
</div>

<table class="table">
    <thead>
        <tr>
            <th data-sort="fullname">
                <a href="#" class="sort-link">
                    {{#str}}user, quizaccess_proctoring{{/str}}
                    <span class="sort-icon"></span>
                </a>
            </th>
            <th data-sort="email">
                <a href="#" class="sort-link">
                    {{#str}}email, quizaccess_proctoring{{/str}}
                    <span class="sort-icon"></span>
                </a>
            </th>
            <th data-sort="timemodified">
                <a href="#" class="sort-link">
                    {{#str}}dateverified, quizaccess_proctoring{{/str}}
                    <span class="sort-icon"></span>
                </a>

            </th>
            <th>{{#str}}identity_mismatch_label, quizaccess_proctoring{{/str}}</th>
            <th>{{#str}}actions, quizaccess_proctoring{{/str}}</th>
        </tr>
    </thead>

    <tbody id="report-body">
        {{#rows}}
        <tr>
            <td>
                <a href="{{userlink}}" target="_blank">{{fullname}}</a>
            </td>
            <td>{{email}}</td>
            <td>{{timemodified}}</td>
            <td>
                {{#warningicon}}
                    {{#str}}notfoundtext,quizaccess_proctoring{{/str}}         
                {{/warningicon}}
                 {{^warningicon}}
                    ⚠️ {{#str}}foundtext,quizaccess_proctoring{{/str}}        
                {{/warningicon}}
            </td>
            <td>{{{actionmenu}}}</td>
        </tr>
        {{/rows}}

        {{^rows}}
        <tr class="alert alert-info text-center" role="alert">
            <td colspan="5">{{#str}}examdata, quizaccess_proctoring{{/str}}</td>
        </tr>
        {{/rows}}
    </tbody>
</table>

<div id="report-pagination"></div>
